@use '@/styles/variables.scss' as *;

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl * 2 0;
}

.icon {
  font-size: 80rpx;
  margin-bottom: $spacing-md;
}

.text {
  font-size: $font-size-md;
  color: $color-text-tertiary;
}
